:root {
  --Mblack: #040f0f;
  --MyDarkGreen: #16521f;
  --MyDarkGray: #656665;
  --MyLightGreen: #509561;
  --MyLightGrey: #b8d0b8;
  --MyWhite: #edffed;
}

* {
  font-family: 'Acme', sans-serif;
}

.headline {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: xx-large;

}

.imgBack {
  background-image: url(../resources/Background.jpg);
  position: fixed;
  background-repeat: no-repeat;
  opacity: 0.5;

}

#brocoloImg {
  animation-name: welcome;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes welcome {
  from {
    opacity: 100%;
    transform: translateX(0%);

  }

  to {
    opacity: 0%;
    transform: translateX(15%);

  }
}

body {
  background: var(--MyLightGrey);
}

.navbar {
  background-color: var(--MyWhite);
}

.btn {
  transition: 0.5s background ease-in-out !important;
  color: var(--MyWhite);
}

.btn-login {
  background-color: var(--MyDarkGreen);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;

}

.btn-google {
  background-color: #ea4335;

}

.btn-facebook {
  background-color: #3b5998;
}

.btn-link {
  color: blue;
}