:root {
  --Mblack: #040f0f;
  --MyDarkGreen: #16521f;
  --MyDarkGray: #656665;
  --MyLightGreen: #509561;
  --MyLightGrey: #b8d0b8;
  --MyWhite: #edffed;
}

*{
  font-family: 'Acme', sans-serif;  
}

.headline {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: xx-large;

}

body {
  background: var(--MyLightGrey);

}

.navbar{
  background-color: var(--MyWhite);
}

.btn {
  transition: 0.5s background ease-in-out !important;
  color: var(--MyWhite);
}

.btn-login {
  background-color: var(--MyDarkGreen);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;

}

.btn-google {
  background-color: #ea4335;

}

.btn-facebook {
  background-color: #3b5998;
}

.btn-link {
  color: blue;
}