:root{
    --Mblack: #040f0f;
    --MyDarkGreen:#16521f;
     --MyDarkGray:#656665 ;
     --MyLightGreen:#509561; 
     --MyLightGrey:#b8d0b8;
}

body {
    background: var(--MyLightGrey);
    /*background: linear-gradient(to Bottom, var(--MyLightGrey), var(--MyLightGreen));*/
  }
  
  .btn-login {
    background-color: var(--MyDarkGreen);
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  

  .headline {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    
}