<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="images/broccoli_1f966.ico">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>LeftOversMain</title>

<body class="mainBody">
  <img src="images/Background.jpg" class="imgBack img-fluid" alt="">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-1 h1" id="brocoloImg">
        <img src="images/broccoli_1f966.ico" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top" >
        LeftOvers</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/Login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/advertise">Advertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/seekLeftOvers">Seek LeftOvers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 text-lg-center mx-auto">
        <div class="card border-0 shadow rounded-4 my-5">
          <img src="images/advertiseLeftOvers.jpg" class="card-img-top rounded-4" alt="advertiseLeftOvers">
          <div class="card-body p-2 p-sm-5">
            <h3 class="card-title">Advertise Leftovers</h3>
            <p class="card-text">If you've got some leftovers you don't want to throw</p>
            <a href="/advertise" class="btn btn-outline fw-light stretched-link" type="button" id="borderstyle">Advertise</a>
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-7 col-lg-5 text-lg-center mx-auto">
        <div class="card border-0 shadow rounded-4 my-5">
          <img src="images/searchLeftOvers.jpg" class="card-img-top rounded-4" alt="searchLeftOvers">
          <div class="card-body p-2 p-sm-5">
            <h3 class="card-title">Search For Leftovers</h3>
            <p class="card-text">If you are looking for great leftovers</p>
            <a href="/seek" class="btn btn-outline fw-light stretched-link" type="button" id="borderstyle">Search Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>