<%- include('header') -%>

  <body>
    <img src="images/Background.jpg" class="imgBack img-fluid" alt="">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-1 h1" id="brocoloImg">
          <img src="images/broccoli_1f966.ico" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top">
          LeftOvers</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/Login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Advertise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Seek LeftOvers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h3 class="card-title text-center mb-5 fw-light fs text headline">LeftOvers - Sign Up</h3>
              <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
                  <label for="floatingInput">Email address</label>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="fullname" class="form-control" id="fullname" placeholder="fullname" name="fullname" required>
                    <label for="fullname">Full Name</label>
                  </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required><small class="form-text text-muted">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="phoneNumber" placeholder="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                    <label for="phoneNumber">Phone/ WhatsApp</label>
                  </div>
                <hr class="my-4">
                <div class="d-grid">
                    <button type="submit" class="btn btn-login text-uppercase fw-bold">Register</button>
                </div>
                <div class="d-grid">
                    <button onclick="location.href='/login'" type="button" class="btn btn-link">Already Registered? - Sign In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>